In [1]:
import pandas as pd

### Q1. Pandas version

In [2]:
pd.__version__

'2.1.1'

In [3]:
laptop_df = pd.read_csv("data/laptops.csv")
laptop_df.head()

,Laptop,Status,Brand,Model,CPU,RAM,Storage,Storage type,GPU,Screen,Touch,Final Price
0,ASUS ExpertBook B1 B1502CBA-EJ0436X Intel Core...,New,Asus,ExpertBook,Intel Core i5,8,512,SSD,NaN,15.6,No,1009.00
1,Alurin Go Start Intel Celeron N4020/8GB/256GB ...,New,Alurin,Go,Intel Celeron,8,256,SSD,NaN,15.6,No,299.00
2,ASUS ExpertBook B1 B1502CBA-EJ0424X Intel Core...,New,Asus,ExpertBook,Intel Core i3,8,256,SSD,NaN,15.6,No,789.00
3,MSI Katana GF66 12UC-082XES Intel Core i7-1270...,New,MSI,Katana,Intel Core i7,16,1000,SSD,RTX 3050,15.6,No,1199.00
4,HP 15S-FQ5085NS Intel Core i5-1235U/16GB/512GB...,New,HP,15S,Intel Core i5,16,512,SSD,NaN,15.6,No,669.01

### Q2. Records count

In [4]:
print(f"Record count: {laptop_df.shape[0]} rows")

Record count: 2160 rows

### Q3. Laptop brands

In [5]:
print(f"Laptop brands: {laptop_df['Brand'].nunique()} unique brands")

Laptop brands: 27 unique brands

### Q4. Missing values

In [9]:
na_count = laptop_df.isna().sum() 
print(f"There are {len(na_count[na_count > 0])} columns in the dataset that have missing values")

There are 3 columns in the dataset that have missing values

### Q5. Maximum final price

In [10]:
print(f"Maximum final price: {laptop_df['Final Price'].max()}")

Maximum final price: 7150.47

### Q6. Median value of Screen

In [17]:
# Find the median value of Screen column in the dataset.
median_screen = laptop_df['Screen'].median()

# Calculate the most frequent value of the same Screen column.
mode_screen = laptop_df['Screen'].mode()

#Use fillna method to fill the missing values in Screen column with the most frequent value from the previous step
laptop_df['Screen'] = laptop_df['Screen'].fillna(mode_screen)

# Calculate the median value of Screen once again.
new_median_screen = laptop_df['Screen'].median()

# Check if it has changed
if median_screen == new_median_screen:
    print("The median value hasn't changed")
else:
    print("The median value has changed")

The median value hasn't changed

### Q7. Sum of weights

In [36]:
import numpy as np
from numpy.linalg import inv, det

# Select all the "Innjoo" laptops from the dataset.
# Select only columns RAM, Storage, Screen
innjoo_df = laptop_df[laptop_df['Brand'] == "Innjoo"][['RAM', 'Storage', 'Screen']]

# Get the numpy array
X = innjoo_df.to_numpy()

# Matrix multiplication
XTX = np.matmul(X.T, X)

# Inverse of XTX
inv_XTX = inv(np.matrix(XTX))

# defining y
y = [1100, 1300, 800, 900, 1000, 1100]

# Calculating the weights
weights = np.matmul(inv_XTX, X.T)
weights = np.matmul(weights, y)

# The sum of all the elements of the result
print(f"The sum of all the elements of the result: {weights.sum():.2f}")

The sum of all the elements of the result: 91.30